.mint{
    height: 100vh;
    width: 63vw;
    padding: 1vw;
    margin-left: 18vw;
    border-left: 1px solid rgba(255, 255, 255, 0.472);
    border-right: 1px solid rgba(255, 255, 255, 0.472);
}
.mint .head{
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
.mint .form{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    border-bottom: 1px solid white;
    padding: 1vw 0;
}
.mint .container-drop{
    height: 40vh;
    width: 60vw;
    border: 2px solid var(--blue);
    border-radius: 15px;
    padding: 0.5vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mint .drop-icon{
    margin: 1vw;
    font-size: 3vw;
}
.mint .view-nft-btn, .mint-btn{
    color: white;
    background: #000;
    border: 1px solid white;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 10px;
    height: 7vh;
}
.mint .mint-btn{
    width: 8vw;
}
.mint .filename{
    color: white;
    background: #000;
    border: solid 2px var(--blue);
    padding: 1vw;
    font-size: 1vw;
    border-radius: 10px;
    width: 10vw;
}
.mint .uploaded, .uploading{
    color: white;
    font-size: 1vw;
}